html {
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(white,rgb(100,100,100));
	position: relative;
}

.jumbotron {
	background-image: url(media/bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}   
#home p{
	font-size: 25px;
	font-weight: bold;
	text-shadow: 0 0 6px #EA2027;
	color:#2e86de ;
	width:90%;
	overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  letter-spacing: .10em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 90% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
.img-thumbnail {
	background-color:  rgba(0, 150, 200, 0.5);
	border-radius: 100%;
	width: 180px;
	height: 200px;
	animation: photo 3s ease-out 2s infinite alternate;
	transition: 1s;
}
@keyframes photo {
	0% {background-color:#e74c3c;}
	50% {background-color: green;}
	100% {background-color:rgba(0, 140, 186, 0.5);}
}

.img-thumbnail:hover {
	background-color: rgba(0, 140, 186, 0.5);
	box-shadow: 0 0 20px 5px rgba(0, 140, 186, 0.5);
	border-radius: 0;
}
#pratyush{
	color: #f1c40f;
	top: 0px;
	transition: 1s;
}
#pratyush:hover{
	top:-10px;
}
.social-icons a{
	margin-right: 3em;
}
h1{
	font-family: 'Oswald', sans-serif;
}
h3 {
	font-family: "Times New Roman", Times, serif;
}
h4{
	font-family: "Lucida Console", Courier, monospace;
	text-align: right;
	margin-top: 5px;
}
#college {
	color: rgb(102, 163, 255);
}
#twelve {
	color: rgb(255, 64, 0);
}
#tenth {
	color: rgb(255, 180, 0);
}
.skills-icons i{
	color:rgba(0,0,0,0.7);
}
#awards i{
	color: orange;
}
.activities-section {
	color:white;
	text-shadow: 2px 2px 5px blue;
	padding: 12em 4em;
	margin-top: 5em;
	background-image: url(media/notes.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}   


.interests-section {
	padding:12em 4em;
	background-image: url(media/guitar.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.modal-body img{
	width: 20%;
	box-shadow: 4px 4px 6px 2px #B33771;
	margin:1em;

}
#back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  right: 15px;
  bottom: 15px;
  color: #149ddd;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

#back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

#back-to-top:hover {
  color: #fff;
  background: #2eafec;
  transition: background 1s ease-in-out;
  border-radius: 100%;
}

#box{
	border:10px;
	border-radius: 10px;;
	box-shadow:5px 5px 20px -5px red;
}
.info i{
	color:white;
	margin:0em 0.6em 0em 0em; 
	padding:0.2em; 
	height: 1.5em;
	width: 1.5em;
	border-radius: 1.5em;
	background-color: rgb(0, 157, 255);
	float: left;
}
.gform {
	display: none;
}
